<!DOCTYPE html>

<html>
<head>
  
  <title>John Feodorov</title>
  
  <meta charset="UTF-8">
   
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="style.css">
  
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
  
  
  
</head>

<body>
        
       
 <div id="navigation">
    <ul id="nav-items">
		<li class="john"><a href="index">John Feodorov</a></li>     
		<li><a href="index">Contact</a></li>
		<li><a href="index">Blog</a></li>
		<li><a href="index">Projects</a></li>
		<li><a href="index">About</a></li>
		
		
		
	 </ul>
    
	</div><!--navigation-->
   
   <div id="middle">
  
   <div id="content">
  
   
   <h2>Current projects</h2>
       
   <p>Synopsis here. Nulla tempus turpis non nunc pulvinar egestas. Aenean accumsan tellus nec molestie varius. Praesent ac hendrerit tortor. </p>    
   	
  <div class="proj">
  <img src="http://loremflickr.com/320/240" alt="place holder photo" class="proj-img"/>
	  <p class="proj-text">1 scelerisque diam mattis id. Nunc eget turpis quis mauris elementum iaculis.</p></div>
  
   <div class="proj">
  <img src="http://loremflickr.com/320/240" alt="place holder photo" class="proj-img" />
  <p class="proj-text">2 scelerisque diam mattis id. Nunc eget turpis quis mauris elementum iaculis.</p></div>
  
   <div class="proj">
  <img src="http://loremflickr.com/320/240" alt="place holder photo" class="proj-img"/>
  <p class="proj-text">3 scelerisque diam mattis id. Nunc eget turpis quis mauris elementum iaculis.</p></div>
  
   <div class="proj">
  <img src="http://loremflickr.com/320/240" alt="place holder photo" class="proj-img"/>
  <p class="proj-text">4 scelerisque diam mattis id. Nunc eget turpis quis mauris elementum iaculis.</p></div>
 
     
      </div> <!--content-->
      
      <div id="sidebar">
      
		  <h3>Sidebar stuff goes here</h3>
		  <p>Nulla tempus turpis non nunc pulvinar egestas. Aenean accumsan tellus nec molestie varius. Praesent ac hendrerit tortor.</p>
      
	</div><!--sidebar-->
   
	</div><!--end middle-->
    
    <section class="footer">
    
		<div id="FB"><a href="#" class="fa fa-facebook"></a>
    </div><!--FB-->

    <div id="instagram">
		<a href="#" class="fa fa-instagram"></a>
    </div><!--instagram-->
    
    <div id="contactBtn">
		<a href="#" class="fa fa-envelope"></a>
    </div><!--contact-->
	
   </section> <!--footer-->
   

    
    </body>
</html>
    